body{
  background-color: #FFFFFF;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
/* Common CSS */
.btn{
  background-color: #30B868;
  color: white;
  padding: 10px 30px;
  font-size: 16px;
  font-weight: 600px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 18px;
  margin-bottom: 18px;

  /* background-color: burlywood; */
}
nav .nav-logo img{
  width: 139px;
  height: 60px;
}
nav .nav-link{
  display: flex;
  gap: 25px;
  list-style-type: none;
  max-width: 25%;
}
nav .nav-link li a{
  text-decoration: none;
  color: #000000;
  font-size: 15px;
  font-weight: 400;
}

header .container{
  background: url(../assets/hero-bg.png);
  max-width: 100%;
  height: 678px;
}
header .container-info{
  /* background-color: burlywood; */
  text-align: center;
  padding: 115.5px 120px 180px 120px;
}
.container-info h4{
  color: #30B868;
  background-color: #FFFFFF;
  width: 230px;
  text-align: center;
  border: none;
  border-radius: 50px;
  margin: 0px auto;
}
.container-info h1{
  color: #FFFFFF;
  font-size: 60px;
  opacity: 90%;
}
.container-info h1 .color{
  color: #30B868;
}
.container-info p{
  color: #FFFFFF;
  font-size: 18px;
  line-height: 24px;
  padding: 0px 23%; 
  margin-bottom: 32px;
}
.container-info .container-btn{
  display: flex;
  justify-content: center;
  gap: 10px;
}

main .notes{
  text-align: center;
  margin-top: 40px;
  color: #001931;
  margin: 20px 8%;
}
main .notes h2{
  font-size: 48px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}
main .notes p{
  font-size: 16px;
  color: #627382;
  margin: 0px;
}
main .notes .note-cards{
  display: flex;
  gap: 24px;
  margin-top: 44px;
  margin-bottom: 120px;
}
.note-cards .cards{
  box-shadow: 0px 0px 10px #929598;
  border-radius: 5px;

}
.cards img{
  margin-top: 70px;
  margin-bottom: 10px;
  padding: 10px;
  width: 50px;
  height: 50px;
  background-color: #F95555;
  border: none;
  border-radius: 50%;
}
.note-cards .cards h2{
  font-size: 24px;
  font-weight: 600px;
}
.note-cards .cards p{
  font-size: 16px;
  color: #627382;
  padding-bottom: 10px;
}
main .second-brain{
  display: flex;
  margin: 0px 8%;
  align-items: center;
  gap: 60px;
}
main .second-brain img{
  width: 600px;
  height: 600px;
}


.brain-content h6{
  color: #30B868;
  font-size: 16px;
  padding-bottom: 5px;
  margin: 0px;
}
.brain-content h2{
  font-size: 48px;
  font-weight: bold;
  margin-top: 0px;
}
.second-brain .brain-content p{
  font-size: 16px;
  color: #627382;
  padding-right: 20%;
}
ul{
  padding: 0px 0px 10px 0px;
}
.ul li{
  list-style: none;
  padding-bottom: 10px;
  
}
.ul li img{
  width: 20px;
  height: 20px;

}

.more{
  margin: 120px 0px;
}
.more .more-container{
  text-align: center;
  background-color: #F7F6F2;
  margin: 0px 8%;
  padding: 80px 0px;
}
.more .more-container h2{
  color: #001931;
  font-size: 40px;
  font-weight: bold;
}
.more .more-container p{
  padding: 24px 15%;
  color: #627382;
}
footer{
  background-color: #001931;
  width: 100%;
  height: 376px;
}
footer .part-1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 120px 12% 80px 12%;
}
footer .part-1 .footer-img{
  width: 120px;
  height: 60px;
}
.part-1 .footer-links h6{
  font-size: 20px;
  font-weight: 500;
  color: #F7F6F2;
  margin: 10px 0px;
}
.footer-links .links a img{
  margin-left: 10px;
}
.part-2 p{
  text-align: center;
  color: #F7F6F2;
  font-size: 16px;
}